.OneProduct {
    margin: 50px;
    width: 100%;
    background: white;
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.OneProductContainer {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    background: white;
}

.priceOneProductBox {
    margin: 50px;
}

.imgOneProductContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 35px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.imgOneProductContainer:hover {
    transform: scale(1.05);
}

.imgOneProduct {
    width: 80%;
    height: 80%;
}


.BackToMain {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    height: 50px;
    width: 50%;
    cursor: pointer;
}

.BackToMain p {
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: space-around;
    height: 30px;
    border-radius: 15px;
    width: 150px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.BackToMain p:hover {
    transform: scale(1.05);
}